<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.echobond"
    android:versionCode="1"
    android:versionName="1.0" >

    <!-- package name specified permissions -->
    <permission
        android:name="com.echobond.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <!-- basic permission -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- for register and receive msg from GCM -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <!-- get google account to register on GCM -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- for notification -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- cache images -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.echobond.permission.C2D_MESSAGE" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <application
        android:name=".application.MyApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme" >

        <!-- old receiver -->
        <!--
        <receiver
            android:name=".gcm.MyGcmReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.echobond" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.echobond" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.GCM_RECEIVED_ACTION" />

                <category android:name="com.echobond" />
            </intent-filter>
        </receiver>
        -->
        <!-- new receiver -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name=".gcm" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name=".gcm" />
            </intent-filter>
        </receiver>
        <!-- services for GCM -->
        <service
            android:name=".gcm.MyGcmListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name=".gcm.MyInstanceIDListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <!-- service for data fetch on startup -->
        <service
            android:name=".connector.DataFetchIntentService"
            android:exported="false" />

        <!-- necessary to use facebook LoginButton -->
        <activity android:name="com.facebook.LoginActivity" />
        <!-- necessary to map to registered FB app id -->
        <!-- should be placed within application -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <!-- for usage of google play services -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- content providers -->
        <provider
            android:name=".dao.HomeThoughtDAO"
            android:authorities="com.echobond.contentprovider.homethought"
            android:exported="false" />
        <provider
            android:name=".dao.HotThoughtDAO"
            android:authorities="com.echobond.contentprovider.hotthought"
            android:exported="false" />
        <provider
            android:name=".dao.CommentDAO"
            android:authorities="com.echobond.contentprovider.comment"
            android:exported="false" />
        <provider
            android:name=".dao.ChatDAO"
            android:authorities="com.echobond.contentprovider.chat"
            android:exported="false" />

        <activity
            android:name=".activity.StartPage"
            android:alwaysRetainTaskState="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.IntroPage"
            android:label="@string/title_activity_intro_page"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".activity.MainPage"
            android:alwaysRetainTaskState="true"
            android:excludeFromRecents="false"
            android:label="@string/none"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".activity.SearchPage"
            android:label="@string/none" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.echobond.activity.MainPage" />
        </activity>
        <activity
            android:name=".activity.AppSettingPage"
            android:label="@string/title_activity_app_setting_page" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.echobond.activity.MainPage" />
        </activity>
        <activity
            android:name=".activity.NewPostPage"
            android:label="@string/title_activity_new_post_page" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.echobond.activity.MainPage" />
        </activity>
        <activity
            android:name=".activity.FollowingPage"
            android:label="@string/title_activity_following_page" >
        </activity>
        <activity
            android:name=".activity.ImagePage"
            android:label="@string/title_activity_image_page" >
        </activity>
        <activity
            android:name=".activity.CommentPage"
            android:label="@string/title_activity_comment_page" >
        </activity>
        <activity
            android:name=".activity.ChatPage"
            android:label="@string/title_activity_chat_page"
            android:windowSoftInputMode="adjustPan" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.echobond.activity.MainPage" />
        </activity>
        <activity
            android:name=".activity.PeoplePage"
            android:label="@string/title_activity_people_page" >
        </activity>
        <activity
            android:name=".activity.ThoughtsListPage"
            android:label="@string/title_activity_thought_page" >
        </activity>
        <activity
            android:name=".activity.EditProfilePage"
            android:label="@string/title_activity_edit_profile_page"
            android:windowSoftInputMode="adjustPan" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.echobond.activity.MainPage" />
        </activity>
        <activity
            android:name=".activity.ViewMorePage"
            android:label="@string/title_activity_view_more_page" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.echobond.activity.NewPostPage" />
        </activity>
        <activity
            android:name="com.echobond.activity.ServicePage"
            android:label="@string/title_activity_service_page" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.echobond.activity.MainPage" />
        </activity>
    </application>

</manifest>
